*
{
    margin: 0;
    padding: 0;
}

.banner
{
    width: 1550px;
    height: 800px;
    top: 144px;
    filter: brightness(50%);
}

.banner-section
{
    position: relative;
    display: inline-block;
    text-align: left;
    height: 300px;
    overflow: hidden;
}
 

.card-banner
{
    position: absolute;
    top: 40%;
    left: 21%;
    transform: translate(-50%, -50%);
}

.titulo-banner
{
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3%;
}

.texto-banner
{
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10%;
}

.boton-shop
{
    width: 190px;/* 211px;*/
    height: 47px;
    top: 375px;
    left: 110px;
    border-radius: 50px;  
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;


}

/* SECTION 2*/

.selection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.selection:nth-child(3) .funko-imagen{
    order: -1;
}

.titulo-section
{
    font-family: Raleway, sans-serif;
    font-size: 46px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color:#111111;
    margin-bottom: 5px;
}

.description-section
{
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
    margin-bottom: 5px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}

.boton-coleccion
{
    width: 180px;
    height: 40px; 
    font-family: Inter, sans-serif;
    border-radius: 50px;
    background: #30343F;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
}
.funko-imagen{
    
    width: 600px;
    height: 600px;
}

.card-section{

    padding: 15%;
   
}

/* SECTION 3 CAROUSEL*/



.container__funkoItem {
    display: flex;
    flex-wrap: wrap;
    font-family: Inter, sans-serif;
    padding: 10%
    
  }

.funkoItem {
    flex-basis: 30%;
    flex-grow: 1;
    position: relative;
    max-width: 286px;
    margin-left: 50px;
  }
  
  .p__nuevo {
    padding: 7px 15px;
    background-color: #ff3333;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
  }
  
  .funkoItem img {
    width: 359px;
    margin-bottom: 28px;
  }
  
  .funkoItem h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #333333;
  }
  .funkoItem h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    color: #111111;
  }
  .p__precio {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #333333;
  }
  .p__cuotas {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    color: #1d84b5;
  }
  
  .m-bottom-13 {
    margin-bottom: 13px;
  }

