*
{
    margin: 0;
    padding: 0;
}

.item-container
{
    width: 1200px;
    margin: 40px auto;
    font-family: 'Inter', sans-serif;
}

.item-details-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.categoria-articulo
{
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}

.titulo-articulo
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #111111;
    margin: 15px 0 15px 0;
}

.descripcion-articulo
{
    color: #333333;
    font-size: 24px;
    font-weight: 400;
}

.precio-articulo
{
    color: #333333;
    font-size: 38px;
    font-weight: 400;
    margin: 20px 0 25px 0;
}

.botones-carrito-container
{
    display: flex;
    align-items: center;
}

.boton-menos, .boton-mas
{
    background-color: #4F4F4F;
    width: 38.35px;
    height: 38.35px;
    color: white;
    font-size: 25px;
    border: none;
}

.cantidad
{
    border-radius: 0;
    border: 0.5px solid #C9C9C9;
    color: #747474;
    width: 38px;
    height: 32px;
    margin: 0 10px 0 10px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 18px;
}

.cantidad::-webkit-outer-spin-button,
.cantidad::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.agregar-carrito
{
    background-color: #FF3333;
    width: 180px;
    height: 38.35px;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 300;
    margin-left: 25px;
}

.metodos-cuotas, .metodos-pago
{
    color: #00b7ff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
}

.titulo-related
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #111111;
}

.related-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 20px 20px 20px;
}

.related-articulo-container
{
    position: relative;
}

.new-cartel
{
    position: absolute;
    right: 0;
    width: 95px;
    height: 30px;
    background-color: #FF3333;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
}

.categoria-articulo-related
{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}

.titulo-articulo-related
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #111111;
    margin: 15px 0 10px 0;
}

.precio-articulo-related
{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.metodos-cuotas-related
{
    color: #00b7ff;
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
}