/* ESTANDARIZACION */

* {
  margin: 0;
  padding: 0;
}

.main-register {
  font-family: "Inter", sans-serif;
  width: 1023px;
  height: 526.06px;
  margin: 0 auto;
  top: 180px;
  left: 208.5px;
  border-radius: 3px;  
  display: grid;    
  align-content: flex-start;
}

form {
  display: flex;
  flex-wrap: wrap;
}

h1.register {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 49.31px;
  letter-spacing: 1px;   
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 37.57px;
  letter-spacing: 1px;   
}

label {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

select {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 19px;
  border: solid 2px #30343f;
  border-radius: 6px;
  width: 240px;
  padding: 5px;
}

form div {
  margin-bottom: 36px;
}

#form-select-license {
  padding-left: 46px;
}

#form-nameProduct {
  width: 100%;
}

#form-item-nameProduct {
  width: 100%;
}

.form-item-underlined {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 30%;
}

.form-item-underlined h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  display: inline;
}

.form-item-underlined p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 15px;
  padding-right: 20px;
  border-bottom: solid 2px #ff3333;
}

#form-textArea-description {
  width: 100%;
}

#form-textArea-description textarea {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  width: 1000px;
  height: 194px;
  border: solid 1px #1f1f1f;
  border-radius: 4px;
  resize: none;
  padding: 11px 9px;
}

#form-textArea-description textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  margin-left: 19px;
  padding: 10px;
  color: #1f1f1f;
}

#form-item-loadImage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#form-item-inputLoadImg {
  width: 100%;
}

#form-item-loadImage input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 8px;
}

.load-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.load-img p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  margin-top: 10px;
  border-top: solid 2px #ff3333;
}

input[type="submit"] {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #ffffff;
  padding: 14px 23px;
  background-color: #ff3333;
  border: none;
}

.editar-boton-modificar {
  margin: 0;
}

.encabezado {  
  top: 36px;
  margin: 0 auto;
  position: relative;
}

.texto-complementario {  
  top: 56px;
  margin: 0 auto;
  position: relative;
}