.collection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title{
    font-size: var(--font-display);
    font-family: var(--alternative-font);
    font-weight: 500;
}

.collection__description{
    font-weight: 300;
    font-size: var(--font-large);
    font-family: var(--alternative-font);
    border-bottom: 3px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
    padding-right: 25%;
    /* color: rgba(79, 79, 79, 1); */

}

.collection__link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.collection__link:hover{
    background-color: var(--primary-900);
}

.collection__price{
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 400;
}

