.cart__content{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.cart__counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8);
}


.cart__input{
    padding: 6px var(--spacing-16);
    width: 10rem;
    text-align: center;
    font-size: var(--font-large);
}

.counter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
}

.counter__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--spacing-16);
    width: var(--spacing-16);
    cursor: pointer;
    color: var(--light-font-solid);
    border: none;
}


.cart__link{
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
    background-color: var(--tertiary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-20);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.cart__link:hover{
    background-color: var(--tertiary-500);
}